extends layout.pug

block scripts
    script(src='scripts/bulk_insert.js')

block styles
  include ./styles/bulk_insert.css

block content
    #bw_div
        textarea#bulk_words.text_area_style(placeholder="Enter line separated words here..")
        br
        .bulk_words_button_div
            button.submit_button.bulk_words_button_position(onclick='bulk_insertion()') Submit
            input.bulk_words_button_position.extra_right_margin(type='checkbox' id='dumped_words_checkbox' )
            lablel.bulk_words_button_position.gray_text Dumped
            
    #result